/*1)   CCC9DC (text color)
2)   0C1821   (heading background)
2)   000000   (black)
4)   1B2A41   (footer background)
5)   324A5F   (main background)
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color : #CCC9DC
}
body{
    background-color: #324A5F;
}
#heading{
  text-align: center;
  background-color: #0C1821;
  font-size: 30px;
}
/*Second container Styling*/
#Second-container{
    display: flex;
    flex-wrap: wrap;
    gap : 100px;
    align-self: center;
}
.Second-container{
    background-color: #0C1821;
    width : 500px;
    height : 50px;
    margin-top: 20px;
    align-self: center;
    position: relative;
    left : 50px;
    border : 2px solid black;
}
p{
    display: inline-block;
}
.add-btn{
    display: inline;
    width : 20px;
    height: 20px;
    background-color: rgb(237, 82, 82);
    border : none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size : 15px;
}
.add-btn:hover{
    background-color: rgb(249, 126, 126);
    color : black;
}
#name{
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 0px;
    background-color: #324A5F;
    margin-top: 15px;
    border-radius: 5px;
}
#price{
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 0px;
    background-color: #324A5F;
    margin-top: 15px;
    border-radius: 5px;
}
main{
    background-color: #274472;
    margin-top: 30px;
    width : 80%;
    height : 200px;
    position: relative;
    left : 100px;
    border: 2px solid #0C1821;
    border-radius: 5px;
}
#title{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}
#items{
    background-color: #385E72;
    width : 80%;
    height : 150px;
    border-radius: 5px;
    position: relative;
    left : 100px;
    margin-top: 10px;
    overflow-y: auto;
}
footer{
    background-color: #1B2A41;
    margin-top: 50px;  
    height: 50px;
    border : 1px solid #0C1821;
    border-radius: 5px;
}
#total-box{
    font-size: 20px;
    text-align: center;
    height : 50px;
    margin-right : 300px;
    margin-left: 300px;
}
#total{
    margin-left: 300px;
    color : yellow;
}
aside{
    margin-left: 10px;
    margin-right: 50px;
}
#aside{
   background-color: #385E72;

}
.list-item{
    background-color: #0C1821;
    width : 790px;
    height : 50px;
    margin : 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.list-item-name{
    position: relative;
    margin-left: 10px;
    margin-right: 350px;
}
.list-item-price{
    margin-right: 10px;
    margin-left: 200px;
}